@charset "utf-8";

/* CSS Document */


/*------------------------------------------------------------------
[Table of contents]
 0. Fonts
 1. Clearfix
 2. Preloader
 3. Typography
 4. Headings
 5. Buttons
 6. Main Nav
 7. Main Content
 8. Column Grid
 9. Images
10. Icons
11. Galleries
12. Services
13. Quote Slider
14. Info Panel
15. Footer
16. Lists
17. Ajax
18. Blog
-------------------------------------------------------------------*/


/* =0. Fonts
--------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?3837060');
    src: url('../fonts/fontello.eot?3837060#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?3837060') format('woff'), url('../fonts/fontello.ttf?3837060') format('truetype'), url('../fonts/fontello.svg?3837060#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windows. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?43886684#fontello') format('svg');
  }
}
*/


/* End Fonts
--------------------------------------------------------------------------------------------------------*/


/* =1. Clearfix
--------------------------------------------------------------------------------------------------------*/

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* ----- clear fix for floats ----- */

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}


/* hides clearfix from IE-mac */

.clearfix {
    display: block;
}


/* end hide from IE-mac */

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    float: none;
    display: inline-block
}

.alignnone {
    clear: both;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 0;
    width: 0;
}

.centered {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


/* End Clearfix
--------------------------------------------------------------------------------------------------------*/


/* =2. Preloader
--------------------------------------------------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
}

#status {
    z-index: 28;
    position: absolute;
    color: #2b2b2b;
    top: 50%;
    height: 220px;
    width: 100%;
    margin-top: -110px;
}

#preloader p.small {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    /*margin-top:-3px;*/
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 0 !important
}


/* horizontal centering */

.parent {
    width: 300px;
    margin: 0px auto;
    position: relative;
    height: 220px;
    z-index: 11
}

.child {
    text-align: center;
}


/* vertical centering */

.parent {
    display: table
}

.child {
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px;
}

.child span {
    text-transform: uppercase;
}

.no-js #preloader {
    display: none;
}


/* End Preloader
--------------------------------------------------------------------------------------------------------*/


/* =3. Typography
--------------------------------------------------------------------------------------------------------*/

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #555;
    position: absolute;
    height: 100%;
    width: 100%;
    /*background:#fcfcfc*/
}

*,
*:after,
*:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

strong {
    font-weight: 700;
}

a {
    color: #e44b43;
    text-decoration: none;
}

p a {
    border-bottom: 1px dotted #e44b43;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

p a:hover {
    border-bottom: 1px solid #e44b43;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

p {
    padding: 0px 0px 16px 0;
    line-height: 1.6;
    font-weight: 400;
}

.col2-3 p {
    text-align: left !important
}

p.sub-heading {
    display: block;
    max-width: 424px;
    margin: 0 auto;
    font-size: 17px;
    text-align: center;
    font-family: 'Lora', Georgia, "Times New Roman", Times, serif;
    padding-bottom: 36px;
}

.small {
    font-size: 13px;
}

p.no-border a {
    border: 0
}

.stand-alone {
    margin-top: 13px;
    padding-bottom: 20px;
    font-size: 19px;
    font-family: 'Lora', Georgia, "Times New Roman", Times, serif;
    font-style: italic
}

#section1 p {
    color: #fff;
}

.content p,
p.content,
.hentry p {
    font-size: 17px;
    font-family: 'Lora', Georgia, "Times New Roman", Times, serif;
}

span.arrow {
    font: 13px 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    border: 0 !important
}

em {
    font-style: italic;
}

code {
    font: 13px "Courier New", Courier, monospace;
    font-style: normal;
    line-height: 1.5;
    display: block;
    padding-top: 4px;
}

pre {
    padding: 0 30px 25px 30px;
    border: 1px dotted #c0c0c0;
    margin-top: 10px;
    margin-bottom: 30px;
    display: inline-block
}

blockquote {
    padding: 116px 0 0 0;
    margin: 10px 0 25px 0;
    background: url(../images/icons/bg-chat.png) center 50px no-repeat;
    background-size: 48px 48px;
}

.hentry blockquote {
    padding: 0 0 0 30px;
    margin: 0px 0 28px 0;
    background: none;
    border-left: 2px solid #e0e0e0
}

blockquote p {
    display: block;
    margin: 0 auto;
    padding: 0 12px 0 12px;
    max-width: 742px;
    font-style: italic;
    font-size: 19px;
    text-align: center;
    font-family: 'Lora', Georgia, "Times New Roman", Times, serif;
    color: #fff
}

.hentry blockquote p {
    max-width: none;
    padding: 0;
    font-style: italic;
    color: #333;
}

blockquote p a {
    text-transform: uppercase;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #fff;
    border-bottom: 1px dotted #fff;
}

blockquote p a:hover {
    border-bottom: 1px solid #fff;
}

.superscript {
    vertical-align: super;
    font-size: 9px
}

p .superscript {
    font-size: 11px;
}

.divider {
    padding: 0 6px 5px 0;
    text-align: center;
    position: relative;
    font-size: 21px;
    color: #8E8E8E;
    margin-top: -5px;
}


/* End Typography
--------------------------------------------------------------------------------------------------------*/


/* =4. Headings
--------------------------------------------------------------------------------------------------------*/

h1#logo {
    display: block;
    display: table;
    height: 52px;
    position: relative;
    float: left;
    text-transform: none
}

h1#logo a {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    font-family: "Dosis", "Open Sans", Arial, Helvetica, sans-serif;
    color: #181818
}

.tagline {
    float: left;
    font-family: 'Lora', Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    font-weight: 400;
    padding: 0 0 0 20px;
    margin: 0px auto;
    position: relative;
    display: table;
    height: 52px;
    margin-top: -1px;
    font-style: italic;
}

.tagline span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 19px;
    border-left: 1px dotted #c0c0c0
}

h2,
h3,
h4,
h5 {
    font-family: "Dosis", "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 1.25
}

.hentry h1,
.hentry h2,
.hentry h3,
.hentry h4,
.hentry h5 {
    padding-bottom: 25px;
}

h1 {
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    color: #2b2b2b;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #2b2b2b;
    font-weight: 700;
    letter-spacing: 5px;
}

#section1 h2 {
    color: #fff;
    margin-bottom: 4px;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    color: #2b2b2b;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 0 0px 10px 0;
    text-align: center;
    letter-spacing: 4px;
}

.centered h3 {
    margin-left: 4px;
}

.hentry h3 {
    text-align: left
}

h4 {
    font-weight: 700;
    color: #2b2b2b;
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}

.centered h4 {
    margin-left: 3px;
}

h4.white {
    color: #fff;
}

h4.with-p-below {
    margin-bottom: 5px;
}

h5 {
    font-weight: 500;
    color: #2b2b2b;
    text-transform: none;
    font-size: 18px;
    line-height: 21px;
    /*letter-spacing: 3px;*/
    margin-bottom: 17px;
}


/* End Headings
--------------------------------------------------------------------------------------------------------*/


/* =5. Buttons
--------------------------------------------------------------------------------------------------------*/

#arrow-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 11;
    height: 100px;
    width: 70px;
    margin-left: -35px;
    background: url(../images/bg-arrow-down.png) no-repeat 21px 26px rgba(255, 103, 95, .8);
    background-size: 28px 16px;
    text-indent: -9999px;
    display: block;
}

.read-more {
    position: absolute;
    z-index: 54;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: -40px;
    opacity: 0;
    -webkit-transition: opacity 0.42s ease-in-out 0s, margin 0.42s ease-in-out 0s;
    -moz-transition: opacity 0.42s ease-in-out 0s, margin 0.42s ease-in-out 0s;
    transition: opacity 0.42s ease-in-out 0s, margin 0.42s ease-in-out 0s;
}

.gallery_item:hover .read-more {
    margin-bottom: 0;
    opacity: 1
}

.read-more span {
    background: rgba(255, 103, 95, .8);
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-style: normal;
    padding: 10px 14px 11px 14px;
    display: inline-block;
    margin: 0 auto;
    height: 38px;
}


/* End Text and Buttons
--------------------------------------------------------------------------------------------------------*/


/* =6. Main Nav
--------------------------------------------------------------------------------------------------------*/

nav {
    margin: 0px auto;
    position: relative;
    display: table;
    height: 52px;
    float: right;
    z-index: 1000
}

#nav {
    display: table-cell;
    vertical-align: middle;
}

#nav li {
    float: left;
    margin: 0px 0px 0px 25px;
    cursor: pointer;
    position: relative
}

#nav li.external {
    border-left: 1px dotted #c0c0c0;
    padding-left: 25px;
}

#nav li a {
    color: #2b2b2b;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 3px 0;
    z-index: 100
}

#nav li:hover a {
    color: #2b2b2b;
}

#nav li .menu-line {
    text-align: center;
    position: absolute;
    left: 50%;
    width: 30px;
    margin-left: -15px;
    font-size: 13px;
    color: #fff;
    margin-top: -8px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    z-index: 1;
    pointer-events: none
}

#nav li.active .menu-line {
    color: #8E8E8E;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#nav li.external .menu-line {
    padding-left: 25px;
}


/* End Main Nav
--------------------------------------------------------------------------------------------------------*/


/* =7. Main Content
--------------------------------------------------------------------------------------------------------*/

header {
    position: relative;
    z-index: 9999;
    width: 100%;
    background: #fff;
    padding: 16px 35px 14px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
}

#undefined-sticky-wrapper {
    /*position:fixed;*/
    z-index: 200;
    width: 100%
}

.container {
    width: 960px;
    position: relative;
    margin: 0 auto;
}

.section {
    position: relative;
    padding: 94px 0 20px 0;
    display: block;
    border-bottom: 1px solid #d8d8d8;
}

.section.no-padding {
    padding: 0;
    border: 0;
}

.section.no-border,
#section1 {
    border: 0
}

.section.grey {
    background: #ececec;
}

#ancor2,
#ancor3,
#ancor4,
#ancor5,
#ancor6,
#ancor7,
#ancor8 {
    position: absolute;
    /* top:-159px;*/
}

#section1 {
    display: block;

    width: 100%;
}

.post #about {
    height: 80%;
}


/* fullscreen intro */

.intro {
    height: 100%;
    width: 100%;
    /*background: url(../images/fullscreen-me.jpg) no-repeat center top;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    background-attachment: fixed;*/
}

.touch .intro {
    background: url(../images/fullscreen-me.jpg) center center no-repeat;
    background-attachment: scroll;
}

.blog #section3 {
    height: auto;
    width: 100%;
    background: url(../images/references.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    background-attachment: fixed;
    position: relative
}

.blog.touch #section3 {
    background: url(../images/references.jpg) center center no-repeat;
    background-attachment: scroll;
}

.post1 .intro,
.post1 #section3 {
    height: 70%;
    width: 100%;
   /* background: url(../images/blog/fullscreen-blog.jpg) no-repeat center top;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    background-attachment: fixed;*/
}

.post1.touch .intro,
.post1.touch #section3 {
   /* background: url(../images/fullscreen-blog.jpg) center center no-repeat;*/
    background-attachment: scroll;
}

.post1 #section3 {
    height: auto !important
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
    width: 100%;
    height: 100%;
}

.overlay2 {
    display: block;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
    width: 100%;
    height: 100%;
}

#headline_cycler {
    display: table;
    position: absolute;
    text-align: center;
    top: 50%;
    height: 140px;
    margin-top: -70px;
    width: 100%;
    z-index: 111;
}

/**--------------------------------------------------------------------------------------------------------*/

/*my part*/

#showTitle {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    /** meeee*/
    margin-right: 100px;
}

#imgPortfolioShow {

    max-height: 500px;
    padding-bottom:20px;
}

#imgsPortfolio {
    background-color: #9d9d9d;
    padding-top: 50px;
    padding-bottom: 50px;

}

#imgBox {

    display:block;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;

}
#section2 {
    width:100%; /**nope*/
}

.infoProject {
    text-align: center;
    padding-top: 50px;
    font-size: 1.1em;
}

#mainPicProject{
    height:500px;
    width:750px;
    object-fit: cover;

}

.contact_fp {
    text-align: center;
}


#projectDescription {
margin-right:  10%;
    margin-left: 10%;
}


#lilyThumb {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
    margin-top: 15px;
}
/**END MY PART ---------------------------------------------------------------------------------------------*/


.headline_cycler_centralizer {
    display: table-cell;
    vertical-align: middle;
}

#headline_cycler ul.flexslider {
    display: block;
    text-align: center;
    width: 100%;
}

#headline_cycler ul.flexslider > li > h2 {
    font-size: 60px;
    line-height: 62px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 8px;
    margin-left: 5px;
}

#headline_cycler ul.flexslider > li > p {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0 0 0px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: italic
}

#headline_cycler .slide {
    padding: 0 12px;
}

.no-js #headline_cycler .slide {
    display: none;
}

.no-js #headline_cycler .slide:first-child {
    display: block;
}

.thin-borderline {
    background: #e0e0e0;
    width: 100%;
    display: block;
    height: 1px;
    position: relative;
    margin: 10px 0 30px 0;
}

.borderline {
    width: 100%;
    display: block;
    height: 1px;
    position: relative;
    background-color: rgba(222, 222, 222, 1);
    margin: 15px 0 15px 0
}

.borderline:before {
    background: none repeat scroll 0 0 rgba(222, 222, 222, 1);
    bottom: -7px;
    content: "";
    height: 14px;
    left: 50%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 14px;
    margin-left: -7px;
}

.borderline:after {
    background: #fff;
    bottom: -5px;
    content: "";
    height: 16px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 16px;
}

.margin {
    margin: 0 20px;
}

.break {
    display: block;
    height: 30px;
    width: 100%;
    position: relative
}

.tiny-break {
    display: block;
    height: 10px;
    width: 100%;
    position: relative
}

.big-break {
    display: block;
    height: 50px;
    width: 100%;
    position: relative
}

.videos {
    height: 350px;
    width: 620px
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#quotes-wrapper {
    height: auto;
    width: 100%;
    background: url(../images/references.jpg) no-repeat center center fixed;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    background-attachment: fixed;
    position: relative
}

.touch #quotes-wrapper {
    background: url(../images/references.jpg) center center no-repeat;
    background-attachment: scroll;
}


/*only for webkit  browsers*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .intro,
    #quotes-wrapper,
    #section3 {
        background-attachment: scroll;
    }
}


/* =End Main Content
--------------------------------------------------------------------------------------------------------*/


/* =8. Column Grid
--------------------------------------------------------------------------------------------------------*/

.col1-1 {
    width: 940px;
    margin: 0px 10px;
    float: none;
    position: relative;
}

.col1-2 {
    width: 460px;
    margin: 0px 10px;
    float: left;
    position: relative;
}

.col1-3 {
    width: 300px;
    margin: 0px 10px;
    float: left;
    position: relative;
}

.col2-3 {
    width: 620px;
    margin: 0px 10px;
    float: left;
    position: relative;
}

.col2-3.no-margin {
    margin: 0 !important;
    width: 640px;
}

.column-count2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.col2-3.column-count2 {
    padding-right: 20px;
}

.post .col1-3m {
    margin: 0 auto;
    float: none
}

.col1-1.border-bottom {
    border-bottom: 1px dotted #c0c0c0;
    padding-bottom: 20px;
    margin-bottom: 35px;
}

.col1-1.border-top {
    border-top: 1px dotted #c0c0c0;
    padding-top: 20px;
    margin-top: 25px;
}

.accordion {
    margin: 5px 0 45px 0;
    border-top: 1px dotted #c0c0c0;
}

section.grey .accordion {
    border-top: 0
}

.tab {
    background: #fff;
    background-size: 28px 16px;
    border-bottom: 1px dotted #c0c0c0;
    margin-bottom: 0px;
    position: relative
}

.tab-arrow {
    background: url(../images/icons/bg-arrow-down.png) no-repeat;
    background-size: 28px 16px;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 30px;
    top: 50px;
    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
}

.tab.closed:hover .tab-arrow,
.tab.open .tab-arrow {
    opacity: 1;
    -webkit-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
}

.tab.closed {
    cursor: pointer
}

section.grey .tab {
    margin-bottom: 20px;
}

.time-range {
    width: 260px;
    float: left;
    margin-right: 20px;
    font-size: 21px;
    font-weight: 600;
    padding: 40px;
    padding-right: 0px;
    padding-top: 45px;
    letter-spacing: -1px;
    text-transform: uppercase;
    height: 100%;
}

.time-range span {
    font-size: 13px;
    font-weight: 400;
    padding-right: 6px;
    letter-spacing: 0;
}

.employer {
    width: 660px;
    padding: 14px 60px 7px 40px;
    border-left: 1px dotted #c0c0c0;
    margin: 25px 0;
    float: left
}

.employer h4 {
    margin-bottom: 8px;
    margin-top: 0px;
    font-size: 28px;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 600
}

.employer h5 small {
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


/* =End Column Grid
--------------------------------------------------------------------------------------------------------*/


/* =9. Images
--------------------------------------------------------------------------------------------------------*/

.images img {
    width: 100%;
    display: block;
    max-width: 100% !important;
    z-index: 9;
}

.images {
    overflow: hidden;
    position: relative;
    margin: 0 0 20px 0 !important;
}

img {
    box-shadow: #fff 0 0 0
}

.images.round img {
    border: 0 none;
    border-radius: 50%;
}

.sliphoveritemTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    font-family: "Dosis", "Open Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-left: 3.6px;
}

.sliphoveritemTitle span {
    font-size: 13px;
    font-style: italic;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    display: block;
    margin-top: -1px
}

.sliphoveritemTitle div {
    position: relative;
    padding-left: 5px;
}


/* End Images
--------------------------------------------------------------------------------------------------------*/


/* =10. Icons
--------------------------------------------------------------------------------------------------------*/

.icons {
    position: relative;
    height: 48px;
    width: 48px;
    float: left;
    margin-top: 4px;
    margin-bottom: 20px;
}

.centered .icons {
    float: none;
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-top: 5px;
    margin-bottom: 14px;
    z-index: 2;
}

.map {
    background: url(../images/icons/bg-map.png) no-repeat center left;
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    white-space: nowrap;
    padding-left: 72px;
    padding-top: 5px;
    margin-top: 5px;
}

.winner {
    background: url(../images/icons/bg-winner.png) no-repeat center;
    background-size: 48px 48px;
}

.time {
    background: url(../images/icons/bg-time.png) no-repeat center;
    background-size: 48px 48px;
}

.pig {
    background: url(../images/icons/bg-pig.png) no-repeat center;
    background-size: 48px 48px;
}

.adjust {
    background: url(../images/icons/bg-adjust.png) no-repeat center;
    background-size: 48px 48px;
}

.team {
    background: url(../images/icons/bg-team.png) no-repeat center;
    background-size: 48px 48px;
}

.works {
    background: url(../images/icons/bg-works.png) no-repeat center;
    background-size: 48px 48px;
}

.chat {
    background: url(../images/icons/bg-chat.png) no-repeat center;
    background-size: 48px 48px;
}

.notes {
    background: url(../images/icons/bg-notes.png) no-repeat center;
    background-size: 48px 48px;
}

.camera {
    background: url(../images/icons/bg-camera.png) no-repeat center;
    background-size: 48px 48px;
}

.computer {
    background: url(../images/icons/bg-computer.png) no-repeat center;
    background-size: 48px 48px;
}

.drawing {
    background: url(../images/icons/bg-drawing.png) no-repeat center;
    background-size: 48px 48px;
}

.illustration {
    background: url(../images/icons/bg-illustration.png) no-repeat center;
    background-size: 48px 48px;
}

.social {
    background: url(../images/icons/bg-social.png) no-repeat center;
    background-size: 48px 48px;
}

.vector {
    background: url(../images/icons/bg-vector.png) no-repeat center;
    background-size: 48px 48px;
}

.commerce {
    background: url(../images/icons/bg-commerce.png) no-repeat center;
    background-size: 48px 48px;
}

.search {
    background: url(../images/icons/bg-search.png) no-repeat center;
    background-size: 48px 48px;
}

.like {
    background: url(../images/icons/bg-like.png) center no-repeat;
    background-size: 48px 48px;
}

.share {
    background: url(../images/icons/bg-share.png) center no-repeat;
    background-size: 48px 48px;
}

.document {
    background: url(../images/icons/bg-document.png) center no-repeat;
    background-size: 48px 48px;
}

.apple {
    background: url(../images/icons/bg-apple.png) center no-repeat;
    background-size: 48px 48px;
}

.balance {
    background: url(../images/icons/bg-balance.png) center no-repeat;
    background-size: 48px 48px;
}

.beaker {
    background: url(../images/icons/bg-beaker.png) center no-repeat;
    background-size: 48px 48px;
}

.beer {
    background: url(../images/icons/bg-beer.png) center no-repeat;
    background-size: 48px 48px;
}

.books {
    background: url(../images/icons/bg-books.png) center no-repeat;
    background-size: 48px 48px;
}

.box {
    background: url(../images/icons/bg-box.png) center no-repeat;
    background-size: 48px 48px;
}

.cake {
    background: url(../images/icons/bg-cake.png) center no-repeat;
    background-size: 48px 48px;
}

.calculator {
    background: url(../images/icons/bg-calculator.png) center no-repeat;
    background-size: 48px 48px;
}

.cd {
    background: url(../images/icons/bg-cd.png) center no-repeat;
    background-size: 48px 48px;
}

.champagne {
    background: url(../images/icons/bg-champagne.png) center no-repeat;
    background-size: 48px 48px;
}

.chart {
    background: url(../images/icons/bg-chart.png) center no-repeat;
    background-size: 48px 48px;
}

.cheese {
    background: url(../images/icons/bg-cheese.png) center no-repeat;
    background-size: 48px 48px;
}

.court {
    background: url(../images/icons/bg-court.png) center no-repeat;
    background-size: 48px 48px;
}

.delivery {
    background: url(../images/icons/bg-delivery.png) center no-repeat;
    background-size: 48px 48px;
}

.dvd {
    background: url(../images/icons/bg-dvd.png) center no-repeat;
    background-size: 48px 48px;
}

.eco {
    background: url(../images/icons/bg-eco.png) center no-repeat;
    background-size: 48px 48px;
}

.film {
    background: url(../images/icons/bg-film.png) center no-repeat;
    background-size: 48px 48px;
}

.grape {
    background: url(../images/icons/bg-grape.png) center no-repeat;
    background-size: 48px 48px;
}

.hot {
    background: url(../images/icons/bg-hot.png) center no-repeat;
    background-size: 48px 48px;
}

.house {
    background: url(../images/icons/bg-house.png) center no-repeat;
    background-size: 48px 48px;
}

.icecream {
    background: url(../images/icons/bg-icecream.png) center no-repeat;
    background-size: 48px 48px;
}

.joystick {
    background: url(../images/icons/bg-joystick.png) center no-repeat;
    background-size: 48px 48px;
}

.keynote {
    background: url(../images/icons/bg-keynote.png) center no-repeat;
    background-size: 48px 48px;
}

.link {
    background: url(../images/icons/bg-link.png) center no-repeat;
    background-size: 48px 48px;
}

.magic {
    background: url(../images/icons/bg-magic.png) center no-repeat;
    background-size: 48px 48px;
}

.mail {
    background: url(../images/icons/bg-mail.png) center no-repeat;
    background-size: 48px 48px;
}

.microphone {
    background: url(../images/icons/bg-microphone.png) center no-repeat;
    background-size: 48px 48px;
}

.network {
    background: url(../images/icons/bg-network.png) center no-repeat;
    background-size: 48px 48px;
}

.palette {
    background: url(../images/icons/bg-palette.png) center no-repeat;
    background-size: 48px 48px;
}

.plaster {
    background: url(../images/icons/bg-plaster.png) center no-repeat;
    background-size: 48px 48px;
}

.player {
    background: url(../images/icons/bg-player.png) center no-repeat;
    background-size: 48px 48px;
}

.polaroid {
    background: url(../images/icons/bg-polaroid.png) center no-repeat;
    background-size: 48px 48px;
}

.printer {
    background: url(../images/icons/bg-printer.png) center no-repeat;
    background-size: 48px 48px;
}

.pulse {
    background: url(../images/icons/bg-pulse.png) center no-repeat;
    background-size: 48px 48px;
}

.radio {
    background: url(../images/icons/bg-radio.png) center no-repeat;
    background-size: 48px 48px;
}

.recorder {
    background: url(../images/icons/bg-recorder.png) center no-repeat;
    background-size: 48px 48px;
}

.scissors {
    background: url(../images/icons/bg-scissors.png) center no-repeat;
    background-size: 48px 48px;
}

.select {
    background: url(../images/icons/bg-select.png) center no-repeat;
    background-size: 48px 48px;
}

.serving {
    background: url(../images/icons/bg-serving.png) center no-repeat;
    background-size: 48px 48px;
}

.share {
    background: url(../images/icons/bg-share.png) center no-repeat;
    background-size: 48px 48px;
}

.shop {
    background: url(../images/icons/bg-shop.png) center no-repeat;
    background-size: 48px 48px;
}

.shopping {
    background: url(../images/icons/bg-shopping.png) center no-repeat;
    background-size: 48px 48px;
}

.smartphone {
    background: url(../images/icons/bg-smartphone.png) center no-repeat;
    background-size: 48px 48px;
}

.sofa {
    background: url(../images/icons/bg-sofa.png) center no-repeat;
    background-size: 48px 48px;
}

.syringe {
    background: url(../images/icons/bg-syringe.png) center no-repeat;
    background-size: 48px 48px;
}

.tape {
    background: url(../images/icons/bg-tape.png) center no-repeat;
    background-size: 48px 48px;
}

.target {
    background: url(../images/icons/bg-target.png) center no-repeat;
    background-size: 48px 48px;
}

.television {
    background: url(../images/icons/bg-television.png) center no-repeat;
    background-size: 48px 48px;
}

.video {
    background: url(../images/icons/bg-video.png) center no-repeat;
    background-size: 48px 48px;
}

.walkman {
    background: url(../images/icons/bg-walkman.png) center no-repeat;
    background-size: 48px 48px;
}

.zoom {
    background: url(../images/icons/bg-zoom.png) center no-repeat;
    background-size: 48px 48px;
}

.tags {
    background: url(../images/icons/bg-tags.png) center no-repeat;
    background-size: 48px 48px;
}

.quote {
    background: url(../images/icons/bg-quote.png) center no-repeat;
    background-size: 48px 48px;
}


/* End Icons
--------------------------------------------------------------------------------------------------------*/


/* =11. Galleries
--------------------------------------------------------------------------------------------------------*/

.full_width_gallery {
    width: 100%;
    margin-top: 5px;
}

.centralizer,
.col1-3 .centralizer {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.col1-3 .price-table .centralizer {
    text-align: center
}

.load_more_btn,
.button {
    display: block;
    color: #e44b43;
    font-style: italic;
    border: solid 2px #e44b43;
    padding: 9px 15px 10px 15px;
    margin: 60px auto 34px auto;
    width: 128px;
    height: 44px;
    font-size: 14px;
}

.button.active {
    font-weight: 700;
}

.col1-3 .button {
    margin: 0;
    margin-bottom: 25px;
}

.centralizer > .load_more_btn,
.centralizer > .button {
    width: auto;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap
}

.full_width_gallery > .gallery_item {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.gallery_item.centered_item {
    float: none;
    margin: 0 auto;
}

.full_width_gallery > .gallery_item > img {
    display: block;
    margin: 0;
    line-height: 0;
    width: 100%;
    height: auto;
}

.full_width_gallery > .gallery_item > .gallery_item_text {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding: 36% 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0.0;
    -webkit-transition: opacity 0.42s ease-in-out 0s, padding 0.42s ease-in-out 0s;
    -moz-transition: opacity 0.42s ease-in-out 0s, padding 0.42s ease-in-out 0s;
    transition: opacity 0.42s ease-in-out 0s, padding 0.42s ease-in-out 0s;
}

.full_width_gallery > .gallery_item:hover > .gallery_item_text,
.full_width_gallery > .gallery_item:active > .gallery_item_text,
.full_width_gallery > .gallery_item.active > .gallery_item_text {
    top: 0;
    padding-top: 29.4%;
    opacity: 1.0;
    -webkit-transition: opacity 0.42s ease-in-out 0s, padding 0.42s ease-in-out 0s;
    -moz-transition: opacity 0.42s ease-in-out 0s, padding 0.42s ease-in-out 0s;
    transition: opacity 0.42s ease-in-out 0s, padding 0.42s ease-in-out 0s;
}

.blog .full_width_gallery > .gallery_item > .gallery_item_text,
.full_width_gallery > .gallery_item > .gallery_item_text.show {
    top: 0;
    opacity: 1.0;
    padding: 0;
}

.ie9 .blog .full_width_gallery > .gallery_item > .gallery_item_text {
    padding-top: 29.4%;
}

.flexbox .full_width_gallery > .gallery_item > .gallery_item_text,
.flexboxlegacy .full_width_gallery > .gallery_item > .gallery_item_text {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 40px 20px 10px 20px;
}

.gallery_item_text.no-hover {
    padding: 10px 20px 10px 20px !important;
}

.whole-tile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 55;
}

.flexbox .blog .full_width_gallery > .gallery_item > .gallery_item_text,
.flexboxlegacy .blog .full_width_gallery > .gallery_item > .gallery_item_text {
    padding: 10px 20px 10px 20px !important;
}

.flexbox .full_width_gallery > .gallery_item > .gallery_item_text > .v_centralizer,
.flexboxlegacy .full_width_gallery > .gallery_item > .gallery_item_text > .v_centralizer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.v_centralizer.up {
    margin-top: -30px;
}

.flexbox .full_width_gallery > .gallery_item:hover > .gallery_item_text,
.flexbox .full_width_gallery > .gallery_item:active > .gallery_item_text,
.flexbox .full_width_gallery > .gallery_item.active > .gallery_item_text,
.flexboxlegacy .full_width_gallery > .gallery_item:hover > .gallery_item_text,
.flexboxlegacy .full_width_gallery > .gallery_item:active > .gallery_item_text,
.flexboxlegacy .full_width_gallery > .gallery_item.active > .gallery_item_text {
    padding-top: 10px;
}

.v_centralizer strong {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 3.6px;
    /*margin-left:3.6px;*/
    padding-bottom: 1px;
    padding-right: 50px;
    padding-left: 57px;
    font-family: "Dosis", "Open Sans", Arial, Helvetica, sans-serif;
    display: block
}

#section4 .v_centralizer strong {
    font-size: 18px;
    padding-bottom: 3px;
}

.blog .v_centralizer strong {
    font-size: 18px;
}

.v_centralizer i {
    font-size: 13px;
}

#section4 .full_width_gallery {
    cursor: help
}

.gallery_item > .gallery_item_text > .social_links {
    display: block;
    position: relative;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 35%;
    width: 100%;
}

.gallery_item > .gallery_item_text > .social_links > .social_icon {
    display: inline-block;
    position: relative;
    padding: 4px 2px;
    font-size: 16px;
    line-height: 26px;
    height: 32px;
    width: 24px;
    top: 150px;
    color: #fff;
    -webkit-transition: top ease-out 0.5s, opacity 0.42s ease-in-out 0s;
    -moz-transition: top ease-out 0.5s, opacity 0.42s ease-in-out 0s;
    transition: top ease-out 0.5s, opacity 0.42s ease-in-out 0s;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    opacity: 1;
    font-variant: normal;
    text-transform: none;
}

.gallery_item > .gallery_item_text > .social_links > .social_icon:hover {
    opacity: 1;
    -webkit-transition: top ease-out 0.5s, opacity 0.42s ease-in-out 0s;
    -moz-transition: top ease-out 0.5s, opacity 0.42s ease-in-out 0s;
    transition: top ease-out 0.5s, opacity 0.42s ease-in-out 0s;
}

.gallery_item > .gallery_item_text > .social_links > .social_icon.pinterest,
.gallery_item > .gallery_item_text > .social_links > .social_icon.vimeo,
.gallery_item > .gallery_item_text > .social_links > .social_icon.email,
.gallery_item > .gallery_item_text > .social_links > .social_icon.googleplus {
    -webkit-transition: top ease-out 0.6s;
    -moz-transition: top ease-out 0.6s;
    transition: top ease-out 0.6s;
}

.gallery_item > .gallery_item_text > .social_links > .social_icon.twitter,
.gallery_item > .gallery_item_text > .social_links > .social_icon.slack {
    -webkit-transition: top ease-out 0.7s;
    -moz-transition: top ease-out 0.7s;
    transition: top ease-out 0.7s;
}

.gallery_item > .gallery_item_text > .social_links > .social_icon.soundcloud,
.gallery_item > .gallery_item_text > .social_links > .social_icon.git,
.gallery_item > .gallery_item_text > .social_links > .social_icon.xing {
    -webkit-transition: top ease-out 0.8s;
    -moz-transition: top ease-out 0.8s;
    transition: top ease-out 0.8s;
}

.gallery_item > .gallery_item_text > .social_links > .social_icon.facebook,
.gallery_item > .gallery_item_text > .social_links > .social_icon.instagram,
.gallery_item > .gallery_item_text > .social_links > .social_icon.behance {
    -webkit-transition: top ease-out 0.9s;
    -moz-transition: top ease-out 0.9s;
    transition: top ease-out 0.9s;
}

.full_width_gallery > .gallery_item:hover > .gallery_item_text > .social_links > .social_icon,
.full_width_gallery > .gallery_item:focus > .gallery_item_text > .social_links > .social_icon,
.full_width_gallery > .gallery_item:active > .gallery_item_text > .social_links > .social_icon,
.full_width_gallery > .gallery_item.active > .gallery_item_text > .social_links > .social_icon {
    top: 0;
}

.social_icon:before {
    content: "";
}

.social_icon.facebook:before {
    content: '\e800';
}

.social_icon.dribbble:before {
    content: '\e801';
}

.social_icon.behance:before {
    content: '\e802';
}

.social_icon.git:before {
    content: '\e803';
}

.social_icon.googleplus:before {
    content: '\e804';
}

.social_icon.xing:before {
    content: '\e805';
}

.social_icon.instagram:before {
    content: '\e806';
}

.social_icon.twitter:before {
    content: '\e807';
}

.social_icon.youtube:before {
    content: '\e808';
}

.social_icon.slack:before {
    content: '\e809';
}

.social_icon.pinterest:before {
    content: '\e80a';
}

.social_icon.tumblr:before {
    content: '\e80b';
}

.social_icon.soundcloud:before {
    content: '\e80c';
}

.social_icon.skype:before {
    content: '\e80d';
}

.social_icon.linkedin:before {
    content: '\e80e';
}

.social_icon.vimeo:before {
    content: '\e80f';
}

.social_icon.flickr:before {
    content: '\e810';
}

.social_icon.email:before {
    content: '\e811';
}


/* =End Galleries
--------------------------------------------------------------------------------------------------------*/


/* =12. Services
--------------------------------------------------------------------------------------------------------*/

.service_box {
    display: block;
    text-align: center;
    margin-top: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 55;
    position: relative
}

.service_item {
    display: inline-block;
    padding: 12px 22px;
    position: relative;
    cursor: help;
    text-align: center;
    min-width: 152px;
    margin-bottom: 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon_box {
    display: inline-block;
    height: 48px;
    width: 48px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.service_name {
    padding: 0;
    margin: 13px 0 0 0;
}

.service_details:before {
    background: none repeat scroll 0 0 rgba(212, 212, 212, 1);
    bottom: -8px;
    content: "";
    height: 14px;
    left: 50%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 14px;
    margin-left: -7px;
}

.service_details:after {
    background: #fff;
    bottom: -6px;
    content: "";
    height: 16px;
    left: 50%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    width: 16px;
    margin-left: -8px;
}

.service_item.hover > .service_details,
.service_item.open > .service_details {
    display: block;
}

.service_details > li {
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px;
    position: relative;
    list-style: circle;
    margin-left: 5px;
    text-align: left !important;
}

ol.service_details > li {
    list-style: decimal;
}

.service_details {
    display: block;
    opacity: 0;
    position: absolute;
    bottom: 120px;
    left: 50%;
    width: 248px;
    margin-left: -124px;
    background-color: #fff;
    border: 1px dotted #c0c0c0;
    padding: 21px 28px 17px 31px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service_item:hover .service_details {
    bottom: 170px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service_name {
    padding: 0;
    margin: 20px 0 0 0;
}

.pie_progress {
    text-align: center;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0 auto;
    left: 37px;
    top: -3px;
}

.pie_progress__number {
    font-size: 15px;
    top: -17px;
}

.service_box {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.ancor-skills {
    position: absolute;
    top: -500px;
}


/* =End Services
--------------------------------------------------------------------------------------------------------*/


/* =13. Quote Slider
--------------------------------------------------------------------------------------------------------*/

#quotes_slider_container {
    margin: 0 auto;
    position: relative;
    z-index: 100;
    padding: 40px 0 80px 0
}

#quotes_slider_container > .flex-direction-nav a {
    opacity: 1.0;
}

#quotes_slider_container > .flex-direction-nav .flex-prev,
#quotes_slider_container > .flex-direction-nav .flex-next {
    background-color: rgba(255, 103, 95, .8);
}


/* =End Quote Slider
--------------------------------------------------------------------------------------------------------*/


/* =14. Info Panel
--------------------------------------------------------------------------------------------------------*/

.info_panel {
    padding: 0 21px;
}

.info_panel h4 {
    margin-bottom: 15px;
}

.info_panel p + h4 {
    margin-top: 9px;
}

.info_panel h5 {
    text-transform: uppercase;
}

.info_panel .map span {
    display: inline-block;
    border-bottom: 1px dotted #e44b43;
    font-size: 13px;
    margin-top: 5px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.info_panel .map span:hover {
    border-bottom: 1px solid #e44b43;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.info_panel p {
    padding-bottom: 28px;
}

.info_panel .email_link {
    text-decoration: none;
    color: #555;
    border: none;
}


/* =End Info Panel
--------------------------------------------------------------------------------------------------------*/


/* =15. Footer
--------------------------------------------------------------------------------------------------------*/

footer {
    min-height: 100px;
    margin: 0px 0px 0 0px;
    background: #9d9d9d;
    width: 100%;
}

footer .container {
    padding: 34px 10px 0 10px;
}

footer p {
    color: white;
    text-align: center;
    line-height: 32px;
}

footer p a {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border: 0;
}
footer p a strong .fa-faheart {
    color: #8a1f11;
}

footer p a:hover {
    color: white;
    text-decoration-style: dotted;
    text-decoration-color: white;
    font-weight: bold;
    border: 0;
}

footer p a.social_icon {
    display: block;
    float: right;
    position: relative;
    margin: 0;
    border-left: 1px dotted #c0c0c0;
    font-size: 18px;
    line-height: 32px;
    height: auto;
    width: 34px;
    color: #8d8d8d;
    -webkit-transition: opacity 0.42s ease-in-out 0s;
    -moz-transition: opacity 0.42s ease-in-out 0s;
    transition: opacity 0.42s ease-in-out 0s;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    opacity: 1;
    font-variant: normal;
    text-transform: none;
}


/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =16. Lists
--------------------------------------------------------------------------------------------------------*/

ul.unordered-list,
.hentry ul {
    list-style: circle;
    line-height: 1.6;
    padding: 0px 15px 16px 15px;
    margin-left: 5px;
    text-align: left !important;
    font-size: 14px;
}

ol {
    list-style: decimal;
    line-height: 1.6;
    padding: 0px 15px 16px 15px;
    margin-left: 5px;
    font-size: 14px;
}

.centered ol {
    padding: 0;
    margin: 0;
}

ul.unordered-list li a,
ol li a {
    border-bottom: 1px dotted #e44b43;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

ul.unordered-list li a:hover,
ol li a:hover {
    border-bottom: 1px solid #e44b43;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}


/* End Update
--------------------------------------------------------------------------------------------------------*/


/* =17. Ajax
--------------------------------------------------------------------------------------------------------*/

.close-ajax {
    display: inline-block;
    cursor: pointer;
    background: url(../images/icons/bg-close.png) no-repeat;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    text-decoration: none;
    border: 0;
    margin-bottom: 40px;
}

.close-ajax:hover {
    border: 0 !important
}

#ajax-content .flex-next,
#ajax-content .flex-prev {
    background-color: rgba(255, 103, 95, .8);
}

#loading {
    min-height: 800px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#loading img {
    top: 47%;
    position: absolute;
}

.prev-ajax {
    background-image: url(../images/icons/bg-prev.png);
    background-size: 48px 48px;
    background-color: transparent;
    border: none;
    height: 48px;
    width: 48px;
    box-shadow: none;
    left: -80px;
    top: 0;
    position: absolute;
    color: transparent;
    position: absolute;
    cursor: pointer;
}

.next-ajax {
    background-image: url(../images/icons/bg-next.png);
    background-size: 48px 48px;
    background-color: transparent;
    border: none;
    height: 48px;
    width: 48px;
    box-shadow: none;
    right: -80px;
    top: 0;
    position: absolute;
    color: transparent;
    position: absolute;
    cursor: pointer;
}


/* =End Ajax
--------------------------------------------------------------------------------------------------------*/


/* =18. Blog
--------------------------------------------------------------------------------------------------------*/

.centered.white-space {
    font-size: 0;
}

.tag {
    background: rgba(255, 103, 95, .8);
    padding: 10px 14px 11px 14px;
    margin: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    display: inline-block
}

.tag span {
    border-left: 1px dotted #fff;
    margin-left: 14px;
    padding-left: 14px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.container.z-index {
    z-index: 11;
}

.centered p a.social_icon {
    display: inline-block;
    position: relative;
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    height: auto;
    width: 24px;
    color: #8d8d8d;
    -webkit-transition: opacity 0.42s ease-in-out 0s;
    -moz-transition: opacity 0.42s ease-in-out 0s;
    transition: opacity 0.42s ease-in-out 0s;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    opacity: 1;
    font-variant: normal;
    text-transform: none;
    border: 0;
    padding-top: 2px;
}

.centered p a.social_icon:hover {
    border: 0;
}

.blog-author-picture {
    margin: 0 30px;
    line-height: 0;
    width: 150px;
    display: inline-block;
    margin-top: 10px;
}

.blog-author-picture > img {
    display: block;
    width: 100%;
    max-width: 150px;
}

.close-post {
    display: block;
    cursor: pointer;
    background: url(../images/bg-close.png) no-repeat;
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    text-decoration: none;
    border: 0;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1111
}

.close-post:hover {
    border: 0 !important
}


/* =End Blog
